<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/nav.ejs') %>
			<section class="user-container">
				<form id="upload" action="/upload" method="POST" enctype="multipart/form-data"></form>
				<form method="POST" action="/users/edit/<%= profileusername %>" class="user-content">
					<div class="user-header">
						<h2 class="user-nickname">
							Nickname:
						</h2>
						<input type="text" name="nickname" value="<%= profilenickname %>" required>
					</div>
					<div class="user-info">
						<div class="user-img">
							<img src="<%= profileuserImg %>" alt="2">
							<div class="upload-img">
								<input type="file" name="img" form="upload">
								<input type="submit" value="upload" form="upload">
							</div>
							<% if (error) { %>
								<div style="color:red;margin-top: 5px;">Допустимый формат изображений: jpg, png, svg</div>
								<% } %>
						</div>
						<h3 class="user-aboutme-title">About me:</h3>
						<div class="user-aboutme">
							<textarea name="aboutme">
								<%= profileaboutme %>
							</textarea>
						</div>
						<input type="submit" class="user-logout" value="Submit">
					</div>
				</form>
			</section>
	</body>

</html>